header .jumbotron {
  padding-top: 0;
  background-image: url(../images/bg.jpeg?41cf4fe93a3587be42e55e1e84739ab3);
  background-size: cover;
  margin-bottom: 0px;
}

header .jumbotron #esqasez {
  color: white;
  padding-top: 20px;
  text-align: center;
  font-size: 11px;
}

header .jumbotron .btn-primary {
  font-size: 1.5vw;
}

header .jumbotron .btn-success {
  font-size: 1.5vw;
}

header .jumbotron .navbar-inverse {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), to(transparent));
  background-image: linear-gradient(to bottom, transparent 0, transparent 100%);
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

header .jumbotron h1 {
  text-align: center;
  color: white;
  font-size: 3.6vw;
  line-height: 4.5rem;
  font-family: 'Quattrocento Sans', sans-serif;
}

header .jumbotron a {
  color: #eeeeee;
}

header .jumbotron img {
  height: 200%;
}

.container h3 {
  padding-top: 7vw;
  text-align: center;
  font-size: 18px;
}

.container p {
  text-align: center;
  font-size: 12px;
}

#inscribete {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

#inscribete h4 {
  text-align: center;
}

#inscribete p {
  text-align: center;
}

.panel-footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.7vw;
}

.inscripciones {
  padding-bottom: 10vh;
}

#inscribete #vive {
  padding-top: 15px;
  font-size: 13px;
}

#inscribete p {
  font-size: 12px;
}

#inscribete h4 {
  font-size: 18px;
}

