header .jumbotron {
    padding-top: 0;
    background-image: url(../images/bg.jpeg?41cf4fe93a3587be42e55e1e84739ab3);
    background-size: cover;
    margin-bottom: 0px;
}
header .jumbotron #esqasez {
    color: white;
    padding-top: 20px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    header .jumbotron h1 {
        text-align: center;
        color: white;
        font-size: 23px;
        line-height: 28px;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    header .jumbotron #esqasez {
        font-size: 8px;
    }
    header .jumbotron .btn-primary {
        font-size: 12px;
    }
    header .jumbotron .btn-success {
        font-size: 12px;
    }
}
@media only screen and (min-width: 601px) {
    header .jumbotron h1 {
        text-align: center;
        color: white;
        font-size: 42px;
        line-height: 50px;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    header .jumbotron #esqasez {
        font-size: 12px;
    }
    header .jumbotron .btn-primary {
        font-size: 16px;
    }
    header .jumbotron .btn-success {
        font-size: 16px;
    }
}
header .jumbotron .navbar-inverse {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), to(transparent));
    background-image: linear-gradient(to bottom, transparent 0, transparent 100%);
    margin-bottom: 0;
    background-color: transparent;
    border-color: transparent;
}
header .jumbotron a {
    color: #eeeeee;
}
header .jumbotron img {
    height: 200%;
}
.container h3 {
    padding-top: 7vw;
    text-align: center;
    font-size: 18px;
}
.container p {
    text-align: center;
    font-size: 12px;
}
#inscribete {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
#inscribete h4 {
    text-align: center;
}
#inscribete p {
    text-align: center;
}
.panel-footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.7vw;
}
.inscripciones {
    padding-bottom: 10vh;
}
#inscribete #vive {
    padding-top: 15px;
    font-size: 13px;
}
#inscribete p {
    font-size: 12px;
}
#inscribete h4 {
    font-size: 18px;
}