header {
    .jumbotron {
        padding-top: 0;
        background-image: url(../images/bg.jpeg);
        background-size: cover;
        margin-bottom: 0px;
        .navbar-inverse {
            background-image: linear-gradient(to bottom, transparent 0, transparent 100%);
            margin-bottom: 0;
            background-color: transparent;
            border-color: transparent;
        }
        h1 {
            text-align: center;
            color: white;
            font-size: 3.6vw;
            line-height: 4.5rem;
            font-family: 'Quattrocento Sans', sans-serif;
        }
        a {
            color: #eeeeee;
        }
        img {
            height: 200%;
        }
    }
}
.container {
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}
#inscribete {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    h4 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}
.panel-footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.7vw;
}
.inscripciones {
    padding-bottom: 10vh;
}